* {
    margin: 0;
    padding: 0;
    }
.XButtons button,
.RButtons button {
    width: 60px;
    height: 20px;
    font-size: 13px;
    border-radius: 5px;
    border: 1;
    border-color: #ffcab9;
    background-color: #ffffffcc;
    cursor:pointer;
    stroke-width: 2; 
    stroke: #C8CCD4;
}
.XButtons button:hover,
.RButtons button:hover {
    cursor: pointer;
    border-color: #8338ec;
}

.taskRect {

    /* mix-blend-mode: soft-light; */
    background-color: rgba(225, 225, 225, 0.709);
    border-radius: 15px;
    margin:50px 90px 6px;
    height: 70%;
    
}
.YtaskRect {

    /* mix-blend-mode: soft-light; */
    background-color: rgba(225, 225, 225, 0.709);
    border-radius: 15px;
    margin:10px 200px 50px;
    height: 80xpx;    
}
.taskText{
    font-family: Roboto sans-serif;
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.75);
    text-align: center;

}
.XButtons,
.RButtons{
    margin:0 auto 5%;
}
/* .head{
    background-color: aquamarine;
} */
.main-panel-table{
    height:100vh;
}
.forms{
    background-color: rgba(158, 221, 255, 0.687);
    border-radius: 30px;
    width:100%;
}
.headText{
    font-family: Roboto sans-serif;
    font-size: 23px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgb(63, 1, 66);
    text-align:right;
}
/* .imgPanel{
    text-align: center;
}
.tyanPanel{
    text-align: center;
} */
.letter{
    text-align:center;
    margin-bottom: 10px;
    font-family: Roboto sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.75);
}
.tyanImg{
    cursor: pointer;
}
#graph{
    background-color: #ffdcf8;
    border-radius: 30px;
}
.inputY{
    border-radius: 10px;
    padding: 1%;
    margin-bottom: 10px;
}
.selected{
    background-color:brown;
}
canvas{
    cursor:crosshair; 
}
input[type="submit"]{
    border-radius: 10px;
    height: 20px;
    width: 200px;
    margin-bottom: 2%;
}
input[type="submit"]:hover{
    background-color:#ff9dc198;
}

header{
    height: 80px;

}
.resultTable{
    width: 100%;
	margin-bottom: 20px;
	border: 5px solid #fff;

	border-top: 5px solid #fff;
	border-bottom: 3px solid #fff;
	border-collapse: collapse; 

	font-size: 15px;
	background: #fff!important;

}

.theme-color{
    color: green;
}
.warning{
    color: red;
}

.resultTable th {
	font-weight: bold;
	padding: 7px;
	background: #54cfff6d;
	border: none;
	text-align: left;
	font-size: 15px;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #c9e8ff;
}
.resultTable td {
	padding: 7px;
	border: none;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
	font-size: 15px;
}
.resultTable tbody tr:nth-child(even){
	background: #f8f8f8!important;
}
